/* General styles */

[data-as='a'],
[data-as='button'],
.dfTtDh {
  &:hover {
    cursor: pointer;
  }

  &:not([data-disabled])[data-selected],
  &:not([data-disabled])[data-pressed] {
    background-color: #f7cf1b4d !important;
    color: inherit !important;
    * {
      color: inherit !important;
    }
  }
}

.FcyYf.FcyYf {
  border: 0 !important;
}

.jXayrr {
  padding-left: 20px !important;
}

/* Button */

.dfTtDh {
  background-color: #f7cf1b4d !important;
  color: inherit !important;
  * {
    color: inherit !important;
  }
}

.kaChbX {
  gap: 1rem !important;
}

/* Checkbox styles */

.sc-jSSkKI {
  &:has(.VtZdd) {
    .bpeXCA {
      background-color: #e3e4e8 !important;
    }
  }
  &:not(:has(.VtZdd)) {
    .bpeXCA {
      background-color: #f7cf1b9a !important;
    }
  }
}
